.App {
  text-align: center;
}
.form-container{
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd; /*#111 검은색 <-> #fff 흰색*/
  border-radius: 5px;
  background-color: #f9f9f9;
}
.form-container table{
  width: 100%;
}
.form-container td{
  padding: 10px;
}
.form-container input, textarea{
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
}
.form-container label{
  font-size: 20px;
}
.file-label{
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}
button{
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}
button:hover, .file-label:hover{
  background-color: #0056b3;
  color: white;
}
.posts-container{
  margin-top: 20px;
}
.post{
  border: 1px solid #ddd;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  
}
.post .images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.post .images img {
  max-width: 200px; /* 가로 길이 최대치 설정 */
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}