.chicken-detail-container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}
.chicken-detail-container:hover{
    /* transform : 여러 기능을 작성할 땐 띄어쓰기로 작성 */
    /*transform: translateZ(80px) rotateX(360deg) rotateY(360deg);*/
    /*transform: translateY(-10px) translateX(-80px);*/
    /*
    translateX : x축으로 움직임. 음수는 왼쪽 양수는 오른쪽
    translateY : y축으로 움직임. 음수는 위쪽 양수는 아래쪽
    translateZ : 3D형태의 움직임. 주로 rotateX,Y와 같이 사용
    rotateX : x축을 기준으로 회전
    rotateY : y축을 기준으로 회전
    deg : degree(각도). 0: 회전 x, 90: 직각회전, 180: 뒤집힌상태, 360: 원래 위치로 돌아온 상태
    
    */
}   
.chicken-detail-container h1{
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}
.chicken-detail-container p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5; /* 줄별 세로 간격 조정 */
    margin: 10px 0;
}
.chicken-detail-container input, .chicken-detail-container textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: transform 0.5s;

    /* 
    box-sizing : 태그의 전체 넓이와 높이 계산
        border-box : 넓이, 높이, 텍스트, 이미지, 패딩 보더까지 포함해서 전체적으로 계산
        content-box : 넓이와 높이, 텍스트, 이미지와 같은 내용만 계산. 유동적으로 박스크기 설정
    */
    box-sizing: border-box;
}
.chicken-detail-container input:hover, .chicken-detail-container textarea:hover{
    transform: translateY(-20%);
}

.chicken-detail-container button{
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;

    /* transition : 각 효과마다 변화된느 시간을 다르게 설정하고 싶을 때 사용*/
    transition: background-color 0.3s ease, font-size 1s linear;
}
.chicken-detail-container button:hover{
    background-color: #218838;
    font-size: 20px;
}