.chicken-detail-container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.3s ease;
}
.chicken-detail-container:hover{
    /* transform : 여러 기능을 작성할 땐 띄어쓰기로 작성 */
    transform: translateZ(80px) rotateX(180deg) rotateY(180deg);
    /*transform: translateY(-10px) translateX(-80px);*/
    /*
    translateX : x축으로 움직임. 음수는 왼쪽 양수는 오른쪽
    translateY : y축으로 움직임. 음수는 위쪽 양수는 아래쪽
    translateZ : 3D형태의 움직임. 주로 rotateX,Y와 같이 사용
    rotateX : x축을 기준으로 회전
    rotateY : y축을 기준으로 회전
    deg : degree(각도). 0: 회전 x, 90: 직각회전, 180: 뒤집힌상태, 360: 원래 위치로 돌아온 상태
    
    */
}   
.chicken-detail-container h1{
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}
.chicken-detail-container p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.5; /* 줄별 세로 간격 조정 */
    margin: 10px 0;
}